.volvo {
	&__car {
		margin-top: 90px;
		padding-left: 15px;
		padding-right: 15px;
		&-img {
			width: 290px;
			display: flex;
			position: relative;
		}
	}
	&__special-rate {
		padding: 9px;
		min-height: 43px;
		position: absolute;
		background: $blue;
		font-size: 8px;
		line-height: 11px;
		color: rgba(#fff, 0.8);
		position: absolute;
		z-index: -1;
		right: 0;
		top: -30px;
		& span {
			font-size: 12px;
			line-height: 100%;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -16px;
			border-left: 8px solid $blue;
			border-top: 21px solid $blue;
			border-bottom: 22px solid transparent;
			border-right: 8px solid transparent;
			transform: rotate(180deg);
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: -16px;
			border-left: 8px solid $blue;
			border-top: 21px solid $blue;
			border-bottom: 21px solid transparent;
			border-right: 8px solid transparent;
		}
	}
	&__character {
		margin-top: 20px;
		&-list {
			margin-top: 15px;
			display: flex;
			flex-wrap: wrap;
			font-size: 12px;
			line-height: 14px;
			color: rgba(#161618, 0.8);
			& li {
				width: 50%;
				margin-bottom: 20px;
			}
			& span {
				font-family: $bold;
				display: block;
				margin-top: 5px;
				font-size: 20px;
				line-height: 100%;
				font-weight: 500;
				color: rgba(#161618, 1);
			}
		}
	}
	&__name {
		font-weight: 300;
		font-size: 26px;
		line-height: 100%;
	}
}

@media screen and(min-width: 768px) {
	.volvo {
		&__car {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			&-img {
				min-width: 290px;
				max-width: 669px;
				width: calc(100% - 418px);
				& img {
					width: 100%;
					height: auto;
				}
			}
		}
		&__special-rate {
			font-size: 12px;
			right: 10px;
			&::before {
				border-top-width: 22px;
				border-bottom-width: 22px;
			}
			&::after {
				border-top-width: 22px;
				border-bottom-width: 22px;
			}
			& span {
				font-size: 15px;
			}
		}
		&__character {
			width: 388px;
			margin-top: 0;
		}
	}
}

@media screen and(min-width: 860px) {
	.volvo {
		&__special-rate {
			right: 15%;
		}
	}
}

@media screen and(min-width: 1000px) {
	.volvo {
		&__special-rate {
			padding: 15px 20px;
			right: 35px;
			font-size: 14px;
			line-height: 17px;
			&::before {
				border-top-width: 34px;
				border-bottom-width: 33px;
			}
			&::after {
				border-top-width: 33px;
				border-bottom-width: 33px;
			}
			& span {
				font-size: 19px;
				line-height: 100%;
			}
		}
	}
}

@media screen and(min-width: 1200px) {
	.volvo {
		&__car {
			margin-top: 166px;
			padding-left: 0;
			padding-right: 0;
			align-items: flex-end;
		}
		&__character {
		margin-top: 20px;
		&-list {
			font-size: 14px;
			line-height: 17px;
			& li {
				margin-bottom: 30px;
			}
			& span {
				display: block;
				margin-top: 5px;
				font-size: 28px;
				font-weight: 500;
				color: rgba(#161618, 1);
			}
		}
	}
		&__name {
			font-size: 48px;
			line-height: 100%;
		}
	}
}